In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/databank/MYBNK.csv
/kaggle/input/databank/BCA.csv

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

# BCA DATA LOAD

In [3]:
BCA = pd.read_csv('../input/databank/BCA.csv')
BCA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       13 non-null     object
 1   Open       13 non-null     float64
 2   High       13 non-null     float64
 3   Low        13 non-null     float64
 4   Close      13 non-null     float64
 5   Adj Close  13 non-null     float64
 6   Volume     13 non-null     int64
dtypes: float64(5), int64(1), object(1)
memory usage: 856.0+ bytes

In [4]:
display(BCA)

          Date   Open   High    Low  Close    Adj Close  Volume
0   2021-07-01  0.324  0.380  0.322  0.326  7572.880859   18700
1   2021-08-01  0.322  0.388  0.322  0.362  8409.149414       0
2   2021-09-01  0.364  0.376  0.358  0.376  8734.365234       0
3   2021-10-01  0.384  0.500  0.324  0.324  7526.421387    5785
4   2021-11-01  0.330  0.500  0.322  0.332  7712.258789    1000
5   2021-12-01  0.330  0.400  0.324  0.330  -104.431915       0
6   2022-01-01  0.334  0.600  0.334  0.600  -189.876205       0
7   2022-02-01  0.450  0.615  0.360  0.378  -119.622002       0
8   2022-03-01  0.378  0.625  0.370  0.374  -118.356163       0
9   2022-04-01  0.376  0.615  0.376  0.410     0.410000     500
10  2022-05-01  0.394  0.454  0.350  0.366     0.366000       0
11  2022-06-01  0.374  0.620  0.350  0.350     0.350000    1200
12  2022-06-28  0.344  0.344  0.344  0.344     0.344000       0

In [5]:
print(BCA.shape)

(13, 7)

In [6]:
print(BCA.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       13 non-null     object
 1   Open       13 non-null     float64
 2   High       13 non-null     float64
 3   Low        13 non-null     float64
 4   Close      13 non-null     float64
 5   Adj Close  13 non-null     float64
 6   Volume     13 non-null     int64
dtypes: float64(5), int64(1), object(1)
memory usage: 856.0+ bytes
None

# MYBNK DATA LOAD

In [7]:
MYBNK = pd.read_csv('../input/databank/MYBNK.csv')
MYBNK.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       13 non-null     object
 1   Open       13 non-null     float64
 2   High       13 non-null     float64
 3   Low        13 non-null     float64
 4   Close      13 non-null     float64
 5   Adj Close  13 non-null     float64
 6   Volume     13 non-null     int64
dtypes: float64(5), int64(1), object(1)
memory usage: 856.0+ bytes

In [8]:
display(MYBNK)

          Date    Open    High     Low   Close  Adj Close   Volume
0   2021-07-01  0.0180  0.0189  0.0180  0.0189  -6.817790    38350
1   2021-08-01  0.0185  0.0195  0.0185  0.0192  -6.926009    88148
2   2021-09-01  0.0190  0.0190  0.0168  0.0183  -6.601352   646878
3   2021-10-01  0.0183  0.0190  0.0183  0.0188  -6.781717   294421
4   2021-11-01  0.0182  0.0219  0.0182  0.0200  -7.214592  1145392
5   2021-12-01  0.0191  0.0243  0.0185  0.0193  -6.962082  1438364
6   2022-01-01  0.0194  0.0198  0.0172  0.0179  -6.457060   185980
7   2022-02-01  0.0178  0.0214  0.0170  0.0174  -6.276695   129527
8   2022-03-01  0.0173  0.0184  0.0165  0.0179  -6.457060   416464
9   2022-04-01  0.0179  0.0211  0.0157  0.0171  -6.168477   577180
10  2022-05-01  0.0167  0.0172  0.0165  0.0166   0.016600   209318
11  2022-06-01  0.0165  0.0167  0.0157  0.0164   0.016400   167414
12  2022-06-28  0.0163  0.0163  0.0163  0.0163   0.016300        0

In [9]:
print(MYBNK.shape)

(13, 7)

In [10]:
print(MYBNK.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       13 non-null     object
 1   Open       13 non-null     float64
 2   High       13 non-null     float64
 3   Low        13 non-null     float64
 4   Close      13 non-null     float64
 5   Adj Close  13 non-null     float64
 6   Volume     13 non-null     int64
dtypes: float64(5), int64(1), object(1)
memory usage: 856.0+ bytes
None

# Data Preparation

In [11]:
BCA_closing=pd.read_csv('../input/databank/BCA.csv' , usecols =['Close'])
BCA = BCA_closing.rename(columns={'Close': 'BCA'})
display(BCA)

      BCA
0   0.326
1   0.362
2   0.376
3   0.324
4   0.332
5   0.330
6   0.600
7   0.378
8   0.374
9   0.410
10  0.366
11  0.350
12  0.344

In [12]:
MYBNK_closing=pd.read_csv('../input/databank/MYBNK.csv' , usecols =['Close'])
MYBNK = MYBNK_closing.rename(columns={'Close': 'MYBNK'})
display(MYBNK)

     MYBNK
0   0.0189
1   0.0192
2   0.0183
3   0.0188
4   0.0200
5   0.0193
6   0.0179
7   0.0174
8   0.0179
9   0.0171
10  0.0166
11  0.0164
12  0.0163

# MERGING DATA

In [13]:
data = MYBNK.join(BCA)
display(data)

     MYBNK    BCA
0   0.0189  0.326
1   0.0192  0.362
2   0.0183  0.376
3   0.0188  0.324
4   0.0200  0.332
5   0.0193  0.330
6   0.0179  0.600
7   0.0174  0.378
8   0.0179  0.374
9   0.0171  0.410
10  0.0166  0.366
11  0.0164  0.350
12  0.0163  0.344

In [14]:
print(data.shape)

(13, 2)

In [15]:
#Mean X and Y
mean_x = np.mean(X)
mean_y = np.mean(Y)

#Total number of values
m = len(X)

#using the formula to calculate b1 and b2
numer = 0
denom = 0
for i in range(m):
    numer += (X[i] - mean_x) * (Y[i]- mean_y)
    denom += (X[i] - mean_x) ** 2
b1 = numer/denom
b0 = mean_y - (b1 * mean_x)

#Print coefficients
print(b1,b0)

NameError: name 'X' is not defined

In [ ]:
data.describe()

# Linear Regression

In [ ]:
X = data['BCA'].values
Y = data['MYBNK'].values

In [ ]:
#Mean X and Y
mean_x = np.mean(X)
mean_y = np.mean(Y)

#Total number of values
m = len(X)

#using the formula to calculate b1 and b2
numer = 0
denom = 0
for i in range(m):
    numer += (X[i] - mean_x) * (Y[i]- mean_y)
    denom += (X[i] - mean_x) ** 2
b1 = numer/denom
b0 = mean_y - (b1 * mean_x)

#Print coefficients
print(b1,b0)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (20.0, 10.0)

In [ ]:
#Plotting values and regression line
max_x = np.max(X) + 100
min_x = np.min(X) - 100

#Calculating line values x and y
x = np.linspace(min_x, max_x, 1000)
y = b0 + b1 * x

#Ploting line
plt.plot(x,y, color='#58b970', label = 'Regression Line')

#PLoting Scatter Points
plt.scatter(X,Y, c='#ef5423', label='Scatter PLot')

plt.xlabel('BCA')
plt.ylabel('MYBNK')
plt.legend()
plt.show()

In [ ]:
data.plot(x='BCA', y='MYBNK', style='o')
plt.title('BCA and MYBNK Precentage')
plt.xlabel('BCA')
plt.ylabel('MYBNK')
plt.show()

# R Squared

In [ ]:
ss_t = 0
ss_r = 0
for i in range(m):
    y_pred = b0 + b1 * X[i]
    ss_t += (Y[i] - mean_y) ** 2
    ss_r += (Y[i] - y_pred) ** 2
r2 = 1 - (ss_r/ss_t)
print(r2)